<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div>
            <a href="/">
            <img src="/images/logo.png" alt="logo">
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="">Smartphones</a></li>
                <li><a href="">Tablets</a></li>
                <li><a href="">Computadoras</a></li>
            </ul>
            <ul>
                <li><a href="">Login</a></li>
                <li><a href="">Register</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Bienvenido</h1>
        <form action="">
            <div>
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" id="nombre">
            </div>
            <div>
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="email">
            </div>
            <div>
                <label for="password">Contraseña</label>
                <input type="password" name="password" id="password">
            </div>
            <div>
                <label for="password2">Confirmar contraseña</label>
                <input type="password" name="password" id="password">
            </div>
            <div>
                <h5>País de nacimiento</h5>
                <select name="pais" id="pais">
                    <option value="" selected hidden>Seleccione su país</option>
                    <option value="">Argentina</option>
                    <option value="">Brasil</option>
                    <option value="">Paraguay</option>
                    <option value="">Uruguay</option>
                    <option value="">Bolivia</option>
                </select>
                <small>Obligatorio</small>
            </div>
            <div>
                <h5>Géneros</h5>
                <input typt="radio" name="genero" id="m" value="m">
                <label for="">Masculino</label>
                <input typt="radio" name="genero" id="f" value="f">
                <label for="">Femenino</label>
                <input typt="radio" name="genero" id="p" value="p">
                <label for="">Prefiero no decirlo</label>
            </div>
            <div>
                <h4>Hobbies</h4>
                <input type="checkbox" name="1" id="1">
                <label for="1">checkbox</label>

                <input type="checkbox" name="2" id="2">
                <label for="2">checkbox</label>

                <input type="checkbox" name="3" id="3">
                <label for="3">checkbox</label>

                <input type="checkbox" name="4" id="4">
                <label for="4">checkbox</label>
         
            </div>
            <div>
                <h4>Dejanos tu comentario</h4>
                <textarea name="comentarios" id="comentarios" cols="30"  rows="10" placeholder="Comentarios.."></textarea>
            </div>
            <div>
                <input type="checkbox" name="terminos" id="terminos">
                <label for="terminos">Términos y condiciones</label>
            </div>

            <div>
                <button type="submit">Registrarme</button>
                <button type="reset">Cancelar</button>
            </div>
        </form>
    </main>
</body>
</html>